
/* Apply a background image to the entire page */
body {
    background-image: url('photos/cover.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    color: #080808; 
}
/* Style the menu */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}

#menu li a {
    color: #fff;
    text-decoration: none;
}

/* Style the sections */
.section {
    padding: 50px 0; 
    text-align: center;
    
}

.section h2 {

    font-size: 2.5em; /* Adjust font size */
}




.photo-container {
    position: relative;
    display: inline-block;
}

.photo-container img {
    max-width: 30%;
    height: auto;
    margin:0 auto; 
}

.prev-photo, .next-photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev-photo {
    left: 0;
}

.next-photo {
    right: 0;
}
.qr-code-image {
    max-width: 30%; 
    height: auto; 
 
}
.like-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #2138bb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.like-button:active {
    background-color: #1d10d3;
}

.like-button .thumbs-up {
    font-size: 1.5em;
}

.like-count {
    font-size: 1.2em;
}